@font-face {
  font-family: "iconfont";
  /* Project id 3679960 */
  src: url('//at.alicdn.com/t/c/font_3679960_g8j81uod5k9.woff2?t=1665552783847') format('woff2'),
    url('//at.alicdn.com/t/c/font_3679960_g8j81uod5k9.woff?t=1665552783847') format('woff'),
    url('//at.alicdn.com/t/c/font_3679960_g8j81uod5k9.ttf?t=1665552783847') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-log-out:before {
  content: "\e6c7";
}

.icon-plus:before {
  content: "\e659";
}

.icon-close:before {
  content: "\e618";
}

.icon-previous:before {
  content: "\e602";
}

.icon-next:before {
  content: "\e603";
}

.icon-catalog:before {
  content: "\e69f";
}

.icon-catalog-sub:before {
  content: "\e6a2";
}

.icon-down1:before {
  content: "\e610";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-left:before {
  content: "\e6cb";
}

.icon-right:before {
  content: "\e6dd";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-top:before {
  content: "\e73a";
}

.icon-down:before {
  content: "\e726";
}

.icon-double-right:before {
  content: "\e94d";
}

.icon-home:before {
  content: "\e626";
}

.icon-tags:before {
  content: "\e654";
}

.icon-wordfile:before {
  content: "\e65c";
}

.icon-book:before {
  content: "\e62b";
}

.icon-search:before {
  content: "\e642";
}

.icon-clock:before {
  content: "\e640";
}

.icon-eye:before {
  content: "\e7a4";
}

.icon-calendar:before {
  content: "\e6eb";
}

.icon-message:before {
  content: "\e600";
}

.icon-user:before {
  content: "\e627";
}

.icon-link:before {
  content: "\e85d";
}

.icon-folder:before {
  content: "\e751";
}

.icon-grid:before {
  content: "\e802";
}

.icon-archive:before {
  content: "\e609";
}

.icon-github:before {
  content: "\e673";
}