@import url('@/assets/fonts/iconfont.css');

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  overflow-y: overlay;
}

body {
  width: 100vw;
  /* height: 100vh; */
  font-family: 'Lato',
  "PingFang SC",
  "Microsoft YaHei"
  sans-serif;
  color: #555;
  background-color: #f5f7f9;
}

#app {
  width: 100%;
}

input::placeholder {
  color: #aaa;
}

.loading {
  background-color: #fafafa;
}