@import url('@/assets/fonts/iconfont.css');
@import url('https://fonts.font.im/css?family=Hanalei+Fill');

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html {
  overflow-y: overlay;
}

body {
  width: 100%;
  min-width: 375px;
  /* height: 100vh; */
  font-family: 'Lato',
  "PingFang SC",
  "Microsoft YaHei"
  sans-serif;
  color: #555;
  background-color: #fff;
}

#app {
  width: 100%;
}

input::placeholder {
  color: #aaa;
}

.loading {
  background-color: #fafafa;
}

.emoji {
  position: absolute;
  transition: all 0.5s linear;
  cursor: default;
  opacity: 0.8;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 99;
}

@keyframes bounce {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px) scale(1.3);
  }
}